{% if page.comments != false %}
<div class="comments">
  <h2>Comments</h2>
  <script src="https://giscus.app/client.js"
        data-repo="sgolecha/sgolecha.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyMDc4ODE5Njc="
        data-category="General"
        data-category-id="DIC_kwDODGQG784CoAHT"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="noborder_light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
  </script>
</div>
{% endif %}